apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
spec:
  ports:
    - port: {{ .Values.port }}
  clusterIP: None
  selector:
    app: {{ .Values.name }}
